TD { font-family:arial,helvetica,sans-serif; font-size:13px }
.b { font-family:arial,helvetica,sans-serif; font-size:13px }
.w { font-family:arial,helvetica,sans-serif; font-size:13px; color:white }
.sw { font-family:verdana,arial,helvetica,sans-serif; font-size:10px; color:white }
.s { font-family:verdana,arial,helvetica,sans-serif; font-size:10px }
.ss { font-family:arial,helvetica,sans-serif; font-size:8px }
.s2 { font-family:verdana,arial,helvetica,sans-serif; font-size:10px; line-height: 14px}
.homeleft { font-family:verdana,arial,helvetica,sans-serif; font-size:9px; line-height: 14px}
.sw2 { font-family:verdana,arial,helvetica,sans-serif; font-size:10px; line-height: 14px; color:white}
.t2 { font-family:arial,helvetica,sans-serif; font-size:2px; line-height: 2px}
.t5 { font-family:arial,helvetica,sans-serif; font-size:5px; line-height: 5px}
.t8 { font-family:arial,helvetica,sans-serif; font-size:8px; line-height: 8px}
.t25 { font-family:arial,helvetica,sans-serif; font-size:25px; line-height: 25px; color:white} 
.lb { font-family:arial,helvetica,sans-serif; font-size:18px }
.xlb { font-family:arial,helvetica,sans-serif; font-size:24px }
.lbuf5 { margin-left:5px }
.lbuf10 { margin-left:10px }
.nd { font-family:arial,helvetica,sans-serif; font-size:13px; text-decoration:none; }
.nds { font-family:verdana,arial,helvetica,sans-serif; font-size:10px; text-decoration:none; }