TD { font-family:arial,helvetica,sans-serif; font-size:16px }
.b { font-family:arial,helvetica,sans-serif; font-size:16px }
.w { font-family:arial,helvetica,sans-serif; font-size:16px; color:white }
.sw { font-family:verdana,arial,helvetica,sans-serif; font-size:13px; color:white }
.s { font-family:verdana,arial,helvetica,sans-serif; font-size:13px }
.ss { font-family:arial,helvetica,sans-serif; font-size:11px }
.s2 { font-family:verdana,arial,helvetica,sans-serif; font-size:13px; line-height: 16px}
.sw2 { font-family:verdana,arial,helvetica,sans-serif; font-size:13px; line-height: 16px; color:white}

.t2 { font-family:arial,helvetica,sans-serif; font-size:2px; line-height: 2px}
.t5 { font-family:arial,helvetica,sans-serif; font-size:5px; line-height: 5px}
.t8 { font-family:arial,helvetica,sans-serif; font-size:8px; line-height: 8px}
.t25 { font-family:arial,helvetica,sans-serif; font-size:25px; line-height: 25px; color:white} 
.lb { font-family:arial,helvetica,sans-serif; font-size:19px }
.xlb { font-family:arial,helvetica,sans-serif; font-size:25px }
.lbuf5 { margin-left:5px }
.rbuf5 { margin-right:5px }
.lrbuf5 { margin-left:5px; margin-right:5px }
.all5 { margin-top:5px; margin-right:5px; margin-left:5px; margin-bottom:5px; }
.lbuf10 { margin-left:10px }
.rbuf10 { margin-right:10px }
.lrbuf10 { margin-left:10px; margin-right:10px }
.all10 { margin-top:10px; margin-right:10px; margin-left:10px; margin-bottom:10px; }

/*
     FILE ARCHIVED ON 03:23:28 May 31, 2010 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 13:27:28 May 19, 2026.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  capture_cache.get: 0.695
  captures_list: 1.133
  exclusion.robots: 0.158
  exclusion.robots.policy: 0.138
  esindex: 0.07
  cdx.remote: 148.724
  LoadShardBlock: 139.482 (3)
  PetaboxLoader3.datanode: 144.619 (4)
  load_resource: 151.316
  PetaboxLoader3.resolve: 113.898
*/